body{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: black;
    padding: 40px;
    text-align: center;
}

#logo{
    width: 50%;
    }

#first{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px
}
h1{
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color: #25a2c3;
        line-height: 1;
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 55px;
        padding-bottom: 0px;       
}
p{
    font-family: "Open Sans", sans-serif;
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    padding-bottom: 30px;
}   

p:first-child{
    padding-bottom:5px;
}

button{
    border: solid 0px;
    background-color:  #f04c2f;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
    margin-left: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px
    
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #25a2c3; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
}

#second{
    text-align: center;
    background-color: white;
}

#second h2{
    margin-bottom: 0px;
    margin-top: 0px;
}



#circle-image{
    width: 70%;
    border-radius: 50%;
    margin-bottom: 20px;
}

#grants{
    background-color: #f04c2f;
    margin-bottom: 50px;
}

#specialh1{
    color: white;
    padding-top: 55px;
    padding-bottom: 10px;
}

#specialp{
    color: white;
}

#specialh2{
    color: white;
    padding-top: 20px;
    padding-bottom: 0px;
    font-weight: 500;
}

#specialp2{
    color: white;
    margin-top: 5px;
    padding-bottom: 40px;
    font-size: 95%;
}

#fourth{
    border: solid 1px #dee1e3;
    border-radius: 2%;
}

#setuppic{
    width: 100%;
}


#fifth{
    border: solid 1px #dee1e3;
    border-radius: 2%;
    margin-top: 50px;
}

#fifth img{
    width: 100%;
}

#sixth{
    border: solid 1px #dee1e3;
    border-radius: 2%;
    margin-top: 50px;
    margin-bottom: 60px;
}

#sixth img{
    width: 100%;
}

footer{
    background-color: #25a2c3;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

#footerh1{
    color: white;
}

ul{
    list-style-type: none;
    text-align: center;
    color: white;
}

ul li{
    text-decoration: underline;
    padding: 5px;
}

ul li:last-child{
    text-decoration: none;
}

hr{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer p{
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: white;
    font-size: smaller;
    padding-bottom: 60px;
}

footer a{
     color: #ffffff;
}