body{
    width: 1366px;
    height: 1920px;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: black;
    padding: 20px;
    text-align: left;
}

#logo{
    width: 10%;
    margin-left: 10px;
    }

#first{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px
}
h1{
        font-family: "Montserrat", sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        color: #25a2c3;
        line-height: 1;
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 101px;
        padding-bottom: 0px;   
}
p{
    font-family: "Open Sans", sans-serif;
    color: #393d41;
    font-size: 0.9rem;
    line-height: 1.65;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    margin: 25px 330px;
    padding-bottom: 5px;
}   

p:first-child{
    padding-bottom:5px;
}

button{
    border: solid 0px;
    background-color:  #f04c2f;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7em;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
    margin-left: 620px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px
    
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #25a2c3; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
}

#second{
    
    background-color: white;
}

#boxpic{
    display: inline;
    text-align: center;
}
#circleimage{
    width: 20%;
    border-radius: 50%;
    
}

#boxlist{
    text-align: center;
    display: inline-block;
}

#sidelist{
          list-style: none;
        
}

/* non ho ancora ben chiaro come allineare gli elementi con la regola inline-block, ho avuto problemi anche per le tre immagini da affiancare */



#grants{
    background-color: #f04c2f;
    margin-bottom: 50px;
}

#specialh1{
    color: white;
    padding-top: 55px;
    padding-bottom: 10px;
}

#specialp{
    color: white;
    font-style: italic;
    
}

#specialh2{
    color: white;
    padding-top: 20px;
    padding-bottom: 0px;
    font-weight: 500;
}

#specialp2{
    color: white;
    margin-top: 5px;
    padding-bottom: 40px;
    font-size: 95%;
}

#third p{
    margin: auto;
    text-align: left;
    padding: auto;
}

#box1 #box2 #box3{
    display: inline-block;
}

#box1 img{
    width: 30%;
}

#box2 img{
    width: 30%;
}

#box3 img{
    width: 30%;
}

#fourth{
    border: solid 1px #dee1e3;
    border-radius: 2%;
}

#setuppic{
    width: 100%;
}


#fifth{
    border: solid 1px #dee1e3;
    border-radius: 2%;
    margin-top: 50px;
}

#fifth img{
    width: 100%;
}

#sixth{
    border: solid 1px #dee1e3;
    border-radius: 2%;
    margin-top: 50px;
    margin-bottom: 60px;
}

#sixth img{
    width: 100%;
}

footer{
    background-color: #25a2c3;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

#footerh1{
    color: white;
}



hr{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer p{
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: white;
    font-size: smaller;
    padding-bottom: 60px;
}

footer a{
     color: #ffffff;
}